{% extends "base.html" %}

{% block content %}
    <div class="row">
        <b class="co1">

            <div class="shadow-lg p-3 mb-5 bg-white rounded container">

                <div class="container">
                    <form method="POST">
                        {% csrf_token %}

                        <br>
                        <h3>Sign up</h3>
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <br>

                        <h6>Username</h6>
                        <input class="form-control" type="text" name="username" placeholder="  username"
                               style="height: 45px;font-weight: bold"><br>
                        <h6>E-mail</h6>
                        <input class="form-control" type="email" name="email" placeholder="  email"
                               style="height: 45px;font-weight: bold"><br>
                        <h6>Password</h6>
                        <input type="password" class="form-control" name="password1" placeholder="  password"
                               style="height: 45px;font-weight: bold"><br>
                        <h6>Password Confirm</h6>
                        <input type="password" class="form-control" name="password2" placeholder="  password confirm"
                               style="height: 45px;font-weight: bold"><br>

                        <p>Already have a account? click <a href="http://localhost:8000/login" class="card-link">here</a> to login </p>


                        <input type="Submit" class="btn btn-outline-dark btn-block" value="註冊">


                    </form>
                </div>
            </div>
        </b>
        <c class="co1-4">
        </c>
    </div>
{% endblock content %}


{% block backgroundUrl %}
https://wallpaperplay.com/walls/full/a/e/6/33398.jpg
{% endblock %}