{% extends "base.html" %}

{% block content %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded container">

        <div class="container">
            <form method="POST">
                {% csrf_token %}



                </div>
                <input class="form-control" type="text" name="username" placeholder="  username" style="height: 45px;font-weight: bold"><br>
                <input type="password" class="form-control" name="password1" placeholder="  password" style="height: 45px;font-weight: bold"><br>
                <input type="password" class="form-control" name="password2" placeholder="  password" style="height: 45px;font-weight: bold"><br>
                <input type="Submit" class="btn btn-outline-dark">



            </form>
        </div>
    </div>
{% endblock content %}